<%- include('header'); -%> 

<p class = "mx-6 mt-6 mb-2">
	<a href="/" class="button is-white"><i class='bx bx-arrow-back bx-sm about-arrow-icon'></i></a>
</p>

<section class="section has-text-centered about-section">
		<hr class="line">
		<p class="about-title ml-4 has-text-link font-source-serif">
			About me!
		</p>

		<img src="images/avatar2.png"  class="about-title-image" alt="avatar">

		<div class="box is-shadowless about-content font-roboto">
			<p>
				Hi, I am an undergraduate student from National Institute of Technology, Silchar. I am currently pursuing my bachelor's degree in Electronics and Communication Engineering.
				I am a Full Stack Web Developer. I have a strong appetite for learning and exploring new ideas.
			</p>
		</div>

		<div class="contact">
			<span class="contact-icon">
				<a class="icon-link" href="https://www.linkedin.com/in/amit-prasad-2267b020b/"><i class="fab fa-linkedin"></i></a>
			</span>
			<span class="contact-icon">
				<a class="icon-link" href="mailto:amitprasad.py71@gmail.com"><i class="fas fa-envelope"></i></a>
			</span>
			<span class="contact-icon">
				<a class="icon-link" href="https://www.facebook.com/profile.php?id=100040471012336"><i class="fab fa-facebook-f"></i></a>
			</span>
		</div>
		<hr class="line">
  </section>





<%- include('footer'); -%> 